.d-none {
    display: none;
}
.tab-active {
    color: #3172E0 !important;
}
.tab-active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #3172E0;
}
.bp-submenu-title {
    display: flex;
    height: 40px;
    align-items: center;
}
.menu-sub {
    padding-left: 40px;
}
.icon {
    padding-right: 12px;
}