* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    font-size: 14px;
    color: #3172E0;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
}

button {
    cursor: pointer;
}

input[type="text"] {
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: #42526E;
    outline: none;
    border: 1px solid #DFE1E6;
}

/* 滚动条样式设置 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {

    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(9,30,66,0.71);
    border-radius: 10px;
}

.d-none {
    display: none;
}

.tab-active {
    color: #3172E0 !important;
}

.tab-active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #3172E0;
}

.bp-submenu-title {
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.menu-sub {
    padding-left: 40px;
}

.icon {
    margin-right: 12px;
}

.icon-white path{    
    fill: #FFFFFF;
}

.icon-warning path {
    fill: #FFAB00;
}

.icon-error path {
    fill: #DE350B;
}

.icon-info path {
    fill: #3172E0;
}

.icon-info-filled path {
    fill: #3172E0;
}

.icon-pointer {
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="radio"]+label {
    font-size: 14px;
    color: #344563;
}

input[type="radio"]+label::before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 6px;
    border-radius: 50%;
    border: 1px solid #DFE1E6;
    line-height: 1;
}

input[type="radio"]:checked+label::before {
    background: #ffffff;
    border: 4px solid #3172E0;
    height: 4px;
    width: 4px;
    background-clip: content-box;
}

input[type="radio"]:disabled+label::before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 6px;
    border-radius: 50%;
    background: #F4F5F7;
    border: 1px solid #F4F5F7;
    line-height: 1;
}

input[type="radio"]:disabled:checked+label::before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin: 6px;
    border-radius: 50%;
    background: #A5ADBA;
    border: 4px solid #F4F5F7;
}

.bp-select-title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between;
}

.bp-option-group {
    margin: 0;
    padding: 4px 0;
    background: #FFFFFF;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
    border-radius: 3px;
}
.bp-select:focus {
    outline: none;
}
.option-active {
    color: #fff !important;
    background-color: #505F79 !important;
}
.option-active .icon path {
    fill: #fff;
}

input[type="checkbox"]+label::before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-right: .2em;
    border-radius: .2em;
    text-indent: .15em;
    margin: 6px;
    line-height: .65;
    /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
    background-image: url("/hospital-unchecked.svg");
    background-size: 12px 12px;
}

input[type="checkbox"]:checked+label::before {
    content: " ";
    margin: 6px;
    background-image: url("/hospital-checked.svg");
    background-size: 12px 12px;
}

input[type="checkbox"]:checked:disabled+label::before {
    content: " ";
    margin: 6px;
    background-image: url("/hospital-checked-disabled.svg");
    background-size: 12px 12px;
}

input[type="checkbox"]:disabled+label::before {
    content: " ";
    height: 12px;
    width: 12px;
    background: #F4F5F7;
    border-radius: 2px;
    margin: 6px;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]+label {
    font-size: 14px;
    color: #344563;
}

/* tooltip 通用样式 */
.tooltip:hover::after {
    background: #172B4D;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    display: block;
    position: relative;
    padding: 0 4px;
}
.chart-container {
    height: 400px;
}

.flex-alian-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toast-inline-link {
    color: inherit;
    margin-left: 10px;
    text-decoration: underline;
}

.icon-toast-warning path {
    fill: #505F79;
}

/* toast 通用样式 */

.toast {
    width: 320px;
    height: 56px;
    line-height: 14px;
    font-size: 14px;
    padding: 16px;
    border-radius: 3px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.toast-success {
    color: #FFFFFF;
    background: #00865a;
}

.toast-warning {
    color: #172B4D;
    background: #FFAB00;
}

.toast-error {
    color: #FFFFFF;
    background: #DE350B;
}

.toast-info {
    color: #FFFFFF;
    background: #42516E;
}
/* modal 通用样式  */
.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(9,30,66,0.54);
    z-index: 998;
    position: fixed;
    display: none;
}

.modal-container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    box-shadow: 0 4px 8px -2px rgba(9,30,66,0.25);
    border-radius: 4px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    z-index: 999;
    max-height: 90%;
}

.modal-small {
    width: 400px;
    margin-left: -200px;
}

.modal-medium {
    width: 600px;
    margin-left: -300px;
}

.modal-large {
    width: 800px;
    margin-left: -400px;
}


.modal-title {
    width: 100%;
    font-size: 20px;
    color: #172B4D;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 16px; */
    padding: 0 24px 16px 24px;
}

.modal-title div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-body {
    font-size: 14px;
    color: #172B4D;
    text-align: left;
    overflow-y: auto;
    max-height: calc(90vh-136px);
    padding: 0 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.modal-footer {
    /* padding-top: 16px; */
    padding: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

.modal-footer button {
    height: 32px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.modal-footer .modal-subtle-btn {
    color: #505F79;
    background: #FFFFFF;
    margin-left: 4px;
}

.modal-footer .modal-default-btn {
    color: #FFFFFF;
    background: #3172E0;
}

.modal-footer .modal-error-btn {
    color: #FFFFFF;
    background: #DE350B;
}

.modal-footer .modal-warning-btn {
    color: #505F79;
    background: #FFAB00;
}

.modal-fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-show {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-scrollable .modal-title{
    border-bottom: 2px solid #e7e9ed;
}

.modal-scrollable .modal-footer {
    border-top: 2px solid #e7e9ed;
}

.modal-scrollable .modal-body {
    margin-top: 12px;
    margin-bottom: 12px;
}

.modal-control-btn {
    height: 32px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: auto;
    margin: 4px;
}

/* popover通用样式 */

.popover-wrapper {
    position: relative;
    width: fit-content;
    margin: 24px;
}

.popover-wrapper .popover-btn{
    height: 32px;
    line-height: 32px;
    background: #505F79;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.popover-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 999
}

.popover {
    width: 320px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 8px 16px -4px rgba(9,30,66,0.25);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.popover-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popover-title {
    font-size: 14px;
    color: #172B4D;
    text-align: left;
    font-weight: 500;
}

.popover-desc {
    margin-top: 12px;
    font-size: 14px;
    color: #344563;
}

.popover-footer {
    margin-top: 8px;
}

.popover-footer a {
    text-align: left;
}

.popover-footer button {
    text-align: right;
    height: 24px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #505F79;
    text-align: center;
    line-height: 24px;
    position: relative;
    left: 125px;
    border-radius: 4px;
}

.popover-footer button:last-child {
    background: rgba(9,30,66,0.04);
}

.popover-triangle {
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    background: #FFFFFF;
}

.popover-triangle-left {
    left: 314px;
    top: 50%;
    margin-top: -6px;
    position: absolute;
}

.popover-triangle-left-top {
    left: 314px;
    top: 16px;
    position: absolute;
}

.popover-triangle-left-bottom {
    left: 314px;
    bottom: 16px;
    position: absolute;
}

.popover-triangle-bottom {
    position: absolute;
    top: -6px;
    left: 152px;
}

.popover-triangle-bottom-left {
    position: absolute;
    top: -6px;
    left: 16px;
}

.popover-triangle-bottom-right {
    position: absolute;
    top: -6px;
    left: 288px;                                                                                                                                                                                                                                                   x;
}

.popover-triangle-top {
    position: absolute;
    left: 152px;
    bottom: -6px;
}

.popover-triangle-top-left {
    position: absolute;
    left: 16px;
    bottom: -6px;
}

.popover-triangle-top-right {
    position: absolute;
    left: 288px;
    bottom: -6px;
}

.popover-triangle-right {
    position: absolute;
    left: -6px;
    top: 50%;
    margin-top: -6px;
}

.popover-triangle-right-top {
    position: absolute;
    left: -6px;
    top: 16px;
}

.popover-triangle-right-bottom {
    position: absolute;
    left: -6px;
    bottom: 16px;
}
