/* status start */

.status-default,
.status-success,
.status-removed,
.status-in-progress,
.status-new,
.status-moved {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
}

.status-default-subtle {
  background: #DFE1E6;
  color: #42526E;
}

.status-default-bold {
  background: #42526E;
  color: #FFFFFF;
}

.status-success-subtle {
  background: #E2FFEE;
  color: #006644;
}

.status-success-bold {
  background: #00875A;
  color: #FFFFFF;
}

.status-removed-subtle {
  background: #FFEBE6;
  color: #BF2600;
}

.status-removed-bold {
  background: #DE350B;
  color: #FFFFFF;
}

.status-in-progress-subtle {
  background: #E1ECFF;
  color: #2355A9;
}

.status-in-progress-bold {
  background: #3172E0;
  color: #FFFFFF;
}

.status-new-subtle {
  background: #EAE6FF;
  color: #403294;
}

.status-new-bold {
  background: #5243AA;
  color: #FFFFFF;
}

.status-moved-subtle {
  background: #FFF0B3;
  color: #172B4D;
}

.status-moved-bold {
  background: #FF8B00;
  color: #172B4D;
}

/* status start */

/* tag start */
.tag-netural,
.tag-blue,
.tag-green,
.tag-purples,
.tag-teals,
.tag-red,
.tag-yellow {
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.tag-netural-subtle {
  background: #EBECF0;
  color: #344563;
}

.tag-netural-bold {
  background: #42526E;
  color: #FFFFFF;
}

.tag-blue-subtle {
  background: #C2DAFF;
  color: #0049B0;
}

.tag-blue-bold {
  background: #73ABFF;
  color: #172B4D;
}

.tag-green-subtle {
  background: #79F2C0;
  color: #006644;
}

.tag-green-bold {
  background: #57D9A3;
  color: #172B4D;
}

.tag-purples-subtle {
  background: #C0B6F2;
  color: #403294;
}

.tag-purples-bold {
  background: #998DD9;
  color: #172B4D;
}

.tag-teals-subtle {
  background: #79E2F2;
  color: #344563;
}

.tag-teals-bold {
  background: #00C7E6;
  color: #172B4D;
}

.tag-red-subtle {
  background: #FFBDAD;
  color: #172B4D;
}

.tag-red-bold {
  background: #FF8F73;
  color: #172B4D;
}

.tag-yellow-subtle {
  background: #FFE380;
  color: #172B4D;
}

.tag-yellow-bold {
  background: #FFC400;
  color: #172B4D;
}

/* tag end */

/* avatar start */
.avatar-x-small {
  height: 16px;
  width: 16px;
}

.avatar-small {
  height: 24px;
  width: 24px;
}

.avatar-medium {
  height: 32px;
  width: 32px;
}

.avatar-large {
  height: 40px;
  width: 40px;
}


.avatar-x-large {
  height: 96px;
  width: 96px;
}


.avatar-xx-large {
  height: 128px;
  width: 128px;
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-square {
	border-radius: 4px;
}
/* avatar end */